
<!--
	Verti 2.0 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->

	
	<div class="homepage">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">
						
							<!-- Header -->
								<header id="header">
								
									<!-- Logo -->
										<div id="logo">
											<h1><a href="#" id="logo">Arc Foundry</a></h1>
											<span>Keeping you ahead of the curve</span>
										</div>
									
									<!-- Nav -->
										<nav id="nav">
											<ul>
												<li class="current_page_item"><a href="index.html">Welcome</a></li>
												<li><a href="left-sidebar.html">Left Sidebar</a></li>
												<li><a href="right-sidebar.html">Right Sidebar</a></li>
												<li><a href="no-sidebar.html">No Sidebar</a></li>
											</ul>
										</nav>
								
								</header>

						</div>
					</div>
				</div>
			</div>
		
		<!-- Banner Wrapper -->
			<div id="banner-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">
						
							<!-- Banner -->
								<div id="banner" class="box">

									<div>
										<div class="row">
											<div class="7u">
												<h2>We made Arc:Ship just for you.</h2>
												<p>It makes communication between shippers and carriers a snap and makes it easy to provide great service to your customers.</p>
											</div>
											<div class="5u">
												<ul>
													<li><a href="#" class="button button-big button-icon button-icon-rarrow">Ok let's go</a></li>
													<li><a href="#" class="button button-alt button-big button-icon button-icon-question">More info</a></li>
												</ul>
											</div>
										</div>
									</div>
								
								</div>

						</div>
					</div>
				</div>
			</div>
		
		<!-- Features Wrapper -->
			<div id="features-wrapper">
				<div class="container">
					<div class="row">
						<div class="4u">
						
							<!-- Box -->
								<section class="box box-feature">
									<a href="#" class="image image-full"><%= image_tag "pic01.jpg" %></a>
									<div class="inner">
										<header>
											<h2>Arc:Ship is Simple</h2>
											<span class="byline">Remove complexity from your daily communication routine</span>
										</header>
										<p>Say goodby to cluttered software! You'll find only the functions you need and none you don't. Eliminate needless emails and calls by displaying just the information you need to track your shipments.</p>
									</div>
								</section>

						</div>
						<div class="4u">
						
							<!-- Box -->
								<section class="box box-feature">
									<a href="#" class="image image-full"><%= image_tag "pic02.jpg" %></a>
									<div class="inner">
										<header>
											<h2>Arc:Ship is Powerful</h2>
											<span class="byline">Bring all your communication needs into one simple view</span>
										</header>
										<p>You just enter your plan and submit to the carrier. The carrier confirms some important information and anyone in your organization can see at a glance the status of every truck on your log.</p>
									</div>
								</section>

						</div>
						<div class="4u">
						
							<!-- Box -->
								<section class="box box-feature last">
									<%= image_tag "pic03.jpg" %>
									<div class="inner">
										<header>
											<h2>We empower partnershipships </h2>
											<span class="byline">Get closer to your customers by getting closer to your carriers</span>
										</header>
										<p>The Arc:Ship toolbox allows you to bring all your communication needs and performance metrics into a single tool. Track shipment status in real-time while keeping a durable record of performance.</p>
									</div>
								</section>

						</div>
					</div>
				</div>
			</div>

		

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="container">
					<div class="row">
						
						
						
						<div class="3u">
						
							<!-- Contact -->
								<section class="widget-contact last">
									<h2>Contact Us</h2>
									<ul>
										<li><a href="#" class="twitter">Twitter</a></li>
										<li><a href="#" class="facebook">Facebook</a></li>
										<li><a href="#" class="dribbble">Dribbble</a></li>
										<li><a href="#" class="googleplus">Google+</a></li>
									</ul>
									<p>1234 Fictional Road Suite #5432<br />
									Nashville, Tennessee 00000-0000<br />
									(800) 555-0000</p>
								</section>
						
						</div>
					</div>
					<div class="row">
						<div class="12u">
							<div id="copyright">
								&copy;<%= Time.now.year %> Arc Foundry LLC  | Images: <a href="http://fotogrph.com/">fotogrph</a> + <a href="http://iconify.it/">Iconify.it</a> | Design: <a href="http://html5up.net/">HTML5 UP</a>
							</div>
						</div>
					</div>
				</footer>
			</div>

	</div>

